<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- Master suite, run ALL test cases -->

<suite name="Suite All" verbose="1">
    <test name="Regression with firefox">
        <parameter name="browserTest" value="firefox"></parameter>
        <classes>
            
            <!-- 
            <class name="testsuite.filterTasks"/>
            <class name="testsuite.editProject"/>
            <class name="testsuite.deleteProject"/>
            <class name="testsuite.screen"/>
            <class name="testsuite.filterProject"/>
            <class name="testsuite.Events"/>
            <class name="testsuite.LoginTest_DataProvider"/>
            <class name="labelfunction.LA1"/>
		    <class name="labelfunction.LA2"/>
		    <class name="labelfunction.LA3"/>
		    <class name="labelfunction.LA4"/>
		    <class name="labelfunction.LA5"/>
		    <class name="labelfunction.LA6"/>
		    <class name="labelfunction.LA7"/>

			<class name="addprojectfunction.P1"/>
      		<class name="addprojectfunction.P2"/>
      		<class name="addprojectfunction.P3"/>
      		<class name="addprojectfunction.P4"/>
      		<class name="addprojectfunction.P5"/>-->
        </classes>
    </test>

    <test name="Regression with edge">
        <parameter name="browserTest" value="edge"></parameter>
        <classes>
			
            
			<!--  
			<class name="testsuite.filterTasks"/>
			<class name="testsuite.editProject"/>
            <class name="testsuite.deleteProject"/>
            <class name="testsuite.screen"/>
            <class name="testsuite.filterProject"/>
            <class name="testsuite.Events"/>
            <class name="testsuite.LoginTest_DataProvider"/>
			<class name="testsuite.editProject"/>
            <class name="testsuite.deleteProject"/>
            <class name="testsuite.screen"/>
            <class name="testsuite.filterProject"/>
 
            <class name="labelfunction.LA1"/>
		    <class name="labelfunction.LA2"/>
		    <class name="labelfunction.LA3"/>
		    <class name="labelfunction.LA4"/>
		    <class name="labelfunction.LA5"/>
		    <class name="labelfunction.LA6"/>
		    <class name="labelfunction.LA7"/>

			<class name="addprojectfunction.P1"/>
      		<class name="addprojectfunction.P2"/>
      		<class name="addprojectfunction.P3"/>
      		<class name="addprojectfunction.P4"/>
      		<class name="addprojectfunction.P5"/>-->
            
        </classes>
    </test>

 <test name="Regression with chrome">
        <parameter name="browserTest" value="chrome"></parameter>
        <classes>
			<class name="testsuite.UploadFile_guru99"/>
			
            
            <!-- 
            <class name="testsuite.editProject"/>
            <class name="testsuite.deleteProject"/>
			<class name="testsuite.Events"/>
            <class name="testsuite.editProject"/>
            <class name="testsuite.deleteProject"/>
            <class name="testsuite.screen"/>
            <class name="testsuite.filterProject"/>
            
            <class name="testsuite.LoginTest_DataProvider"/>
            
            <class name="testsuite.screen"/>
            <class name="testsuite.filterProject"/>
            
            <class name="labelfunction.LA1"/>
		    <class name="labelfunction.LA2"/>
		    <class name="labelfunction.LA3"/>
		    <class name="labelfunction.LA4"/>
		    <class name="labelfunction.LA5"/>
		    <class name="labelfunction.LA6"/>
		    <class name="labelfunction.LA7"/>

			<class name="addprojectfunction.P1"/>
      		<class name="addprojectfunction.P2"/>
      		<class name="addprojectfunction.P3"/>
      		<class name="addprojectfunction.P4"/>
      		<class name="addprojectfunction.P5"/>
      		<class name="testsuite.Event"/>-->
        </classes>
    </test>
</suite>

